<html>
<head>
</head>
<body bgcolor="silver">
  <a href="http://cloudfoundry.com">
  <img alt="Clone me on Cloud Foundry" src="/assets/badge_CF.png/" style="position: fixed; top: 0; left: 20; border: 0;">
</a>
<div class="container">
  <a href="http://github.com/mahil/validate_helper"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
  <h1>
<a name="validate_helper" class="anchor" href="#validate_helper"><span class="mini-icon mini-icon-link"></span></a>Validate Helper</h1>
<p style="font-size:15px;">Validate_helper.js is a jquery plugin that helps you use <a href="http://rickharrison.github.com/validate.js/">validate.js</a>  to validate forms, without the need for creating the validation object. Rather you simply add few attributes to the form elements as stated below.
In addition to that validate_helper uses <a href="http://twitter.github.com/bootstrap/">bootstrap</a> to display the error messages. </p>

<h4> Special thanks to <a href="https://github.com/rickharrison">Rick Harrison</a> for <a href="http://rickharrison.github.com/validate.js/" >Validate.js</a>. Its awesome!</h4>
<br>

<a href="https://github.com/mahil/validate_helper/zipball/master" class="btn" rel="nofollow">
    <span>Download as zip</span>
  </a>
  <br>
  <br>
<div style="font-size:15px;">
<h3>Libraries required</h3>
<ul>
<li>jquery-1.7.1.min.js</li>
<li>bootstrap.min.css</li>
<li>validate.js</li>
<li>validate_helper.js</li>
</ul>
<br>
<h2>Sample Login In Form</h2>
<form id="loginForm" name="loginForm" class="form-inline" action="#" method="POST">
<div class="control-group">
<input type="text" name="email" id="email" data-rules="required|valid_email" class="validate input-medium input-xlarge" placeholder="Email"><p class="help-block"></p>
</div>
<div class="control-group">
<input type="password" name="password" id="password" data-rules="required" class="validate input-medium input-xlarge" placeholder="Password"><p class="help-block"></p>
</div>
<button type="submit" class="btn btn-primary">Sign in
</button>
</form>
<br>

<h3>Form attributes to be added</h3>
<ul>
<li>Add name,id for the form tag</li>
<li>Add class "validate" for the form elements you want to validate</li>
<li>Add "data-rules" attribute to specify the rules in validate.js</li>
<li>Add "data-display" attribute to specify the display attribute in validate.js (optional)</li>
<li>Add control-group, help-block to display the errors</li>
</ul>
</div>
<br>
<h3> Sample code </h3>
<script src="https://gist.github.com/2841362.js?file=sample_login_form.html"></script>
<br>
<br>
<h3> Add the function call as shown below </h3>
<script src="https://gist.github.com/2841367.js?file=sample_login_form_call.html"></script>
<br>
<br>
<h3>Having an optional callback after validation </h3>
<script src="https://gist.github.com/2841382.js?file=sample_login_form_callback.html"></script>
</div>

<script>
var $my_form =  $("#loginForm")
$my_form.validate(function($form, e){alert("callback function invoked me !")})
</script>
</body>
</html>
